<a href="https://colab.research.google.com/github/santimirandarp/mlnotebook/blob/main/2L_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classification with 2L-NN

## Data 
1. Get Data: [From this site](https://machinelearningmastery.com/results-for-standard-classification-and-regression-machine-learning-datasets/)
2. Load data
3. Explore
4. Generate Datasets

In [68]:
import pandas as pd # to load csv
import numpy as np # linear algebra
dataUrl = "https://raw.githubusercontent.com/santimirandarp/mlnotebook/main/diabetes.csv"
df = pd.read_csv(dataUrl)
df.head()
# df.columns.values

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

### Explore the data
1. Balance between 0 and 1 (biased?)
2. size (rows and cols)

In [69]:
balance = df.iloc[:, -1:].value_counts()
samples = df.shape[0]
features = df.shape[1]-1 # one is labels
print("values of 1 and 0:", balance)
print("values of samples:", samples)
print("values of features:", features)

values of 1 and 0: 1
0    500
1    267
dtype: int64
values of samples: 767
values of features: 8

### Generate datasets
* Split train and validation dset
* Store in object "data"
* Convert each to numpy ndarray
* print info

In [74]:

ix = -int(np.floor(np.sqrt(df.shape[0]))) #to build test dataset

data = {
    "tf": df.iloc[:ix,:-1], 
    "tl": df.iloc[:ix,-1:], 
    "vf": df.iloc[ix:,:-1], 
    "vl": df.iloc[ix:,-1:]
    }

#data to numpy n-dimensional arrays
train_X = data["tf"].to_numpy().T
train_Y = data["tl"].to_numpy().T
test_X = data["vf"].to_numpy().T
test_Y = data["vl"].to_numpy().T

#print info
print("training m, validation m: ", train_X.shape[0],",", -ix)
print("m, features:", train_X.shape)
print("m, nodes:", train_Y.shape)

training m, validation m:  8 , 27
m, features: (8, 740)
m, nodes: (1, 740)

## Model

* To start with, let's represent a simplified model
* We have 7 nodes in the input layer
* The rest is the same
# <img src="https://raw.githubusercontent.com/santimirandarp/mlnotebook/main/model.png" style="width:400px"/>

In [75]:
m = train_X.shape[1] 
print(m)

740

In [67]:
def layer_sizes(X, Y):
    """
    Arguments:
    X -- input dataset of shape (input size, number of examples)
    Y -- labels of shape (output size, number of examples)
    
    Returns:
    n_x -- the size of the input layer
    n_h -- the size of the hidden layer
    n_y -- the size of the output layer
    """
    ### START CODE HERE ### (â‰ˆ 3 lines of code)
    n_x = X.shape[0] # n features
    n_h = 4
    n_y = Y.shape[0] # last node
    
    ### END CODE HERE ###
    return (n_x, n_h, n_y)