<a href="https://colab.research.google.com/github/santimirandarp/mlnotebook/blob/main/2L_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classification with 2L-NN

* Input layer, hidden layer (tanh), output layer (sigmoid). 
* Data: [From this site](https://machinelearningmastery.com/results-for-standard-classification-and-regression-machine-learning-datasets/)
* load dataset

In [ ]:
from google.colab import files
data_to_load = files.upload()

In [62]:
import pandas as pd
import io
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/santimirandarp/mlnotebook/main/diabetes.csv')
df.head()
# df.columns.values # columns aren't loaded here

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

## Explore the data
1. Balance between 0 and 1
2. size (rows and cols)

In [ ]:
balance = df.iloc[:, -1:].value_counts()
samples = df.shape[0]
features = df.shape[1]-1 # one is labels
print("values of 1 and 0:", balance)
print("values of samples:", samples)
print("values of features:", features)

values of 1 and 0: 1
0    500
1    267
dtype: int64
values of samples: 767
values of features: 8

## Generate datasets
* split train and validation dset
* Store in object "data"
* Convert each to numpy ndarray
* print info

In [ ]:
ix = -int(np.floor(np.sqrt(df.shape[0]))) #to build test dataset

data = {
    "tf": df.iloc[:ix,:-1], 
    "tl": df.iloc[:ix,-1:], 
    "vf": df.iloc[ix:,:-1], 
    "vl": df.iloc[ix:,-1:]
    }

#data to numpy n-dimensional arrays
train_X = data["tf"].to_numpy()
train_Y = data["tl"].to_numpy()
test_X = data["vf"].to_numpy()
test_Y = data["vl"].to_numpy()

#print info
print("training m, validation m: ", train_X.shape[0],",", -ix)
print("m, features:", train_X.shape)
print("m, nodes:", train_Y.shape)

training samples, validation samples:  740 , 27
samples, features: (740, 8)
samples, nodes: (740, 1)

## Start defining parameters of the model

## Model

In [ ]:
m = train_X.shape[0] 
print(m)

740